<div class="menu-detail">
    <div class="recipe-row-box">
        <div class="label-column">
            <label>名前</label>
        </div>
        <div class="input-column">
            <input type="text" class="name" name="name" [(ngModel)]="cuisine.name">
        </div>
    </div>
    <div class="recipe-row-box">
        <div class="label-column">
            <label>分類</label>
        </div>
        <div class="input-column">
            <select name="classification" [(ngModel)]="cuisine.classification">
                <option *ngFor="let type of types" [value]="type" [innerText]="type"></option>
            </select>
        </div>
    </div>
    <div class="recipe-row-box recipe-row-box_half">
        <div class="label-column">
            <label>カロリー</label>
        </div>
        <div class="input-column">
            <input type="number" [(ngModel)]="cuisine.ingestion_kcal">
        </div>
    </div>
    <div class="recipe-row-box recipe-row-box_half">
        <div class="label-column">
            <label>作成回数</label>
        </div>
        <div class="input-column">
            <input type="number" [(ngModel)]="cuisine.create_number_of_times">
        </div>
    </div>
    <div class="recipe-row-box button-wrap">
        <button type="button" (click)="toSearch()">検索画面へ</button>
        <button type="button" (click)="save()" class="btn btn-save" [innerText]="getLabel()"></button>
    </div>
</div>
<div class="menu-detail-other">
    <div class="menu-items" instructions [items]="cuisine.instructions"></div>
    <div class="menu-items" foodstuffs [items]="cuisine.foodstuffs"></div>  
</div>
<datalist id="foodstuffs">
    <option *ngFor="let item of dataList" [value]="item.name"></option>
</datalist>
