<ul class="cuisine-items" *ngIf="items.length">
  <li class="cuisine-item" *ngFor="let item of items">
    <a class="cuisine-item_link" (click)="detailUrl(item.id)">
      <span class="cuisine-item_title">
        <span class="cuisine-item_title_name" [innerText]="item.name"></span>
        <span class="cuisine-item_title_type" [innerText]="item.classification.name"></span>
      </span>
      <span class="cuisine-item_kcal">
        <span>{{ item.ingestion_kcal }}Kcal</span>
        <span>({{ item.serves }}人前)</span>
      </span>
      <span class="cuisine-item_bottom-link">
        <span>手順を見る <i class="fa fa-arrow-right" area-hidden="true"></i></span>
      </span>
    </a>
  </li>
</ul>
