{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": ["prettier", "plugin:@typescript-eslint/recommended"],
  "overrides": [
    {
      "files": ["*.ts"]
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "plugins": ["prettier", "@typescript-eslint", "angular"],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "indent": ["off"],
    "linebreak-style": ["error", "unix"],
    "no-console": ["warn"],
    "no-trailing-spaces": ["error"],
    "no-useless-escape": ["off"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "@typescript-eslint/no-explicit-any": ["off"],
    "@typescript-eslint/indent": ["error", 2, { "SwitchCase": 1 }],
    "@typescript-eslint/no-parameter-properties": ["error", { "allows": ["private"] }],
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "@typescript-eslint/camelcase": ["off"]
  }
}
