[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Django = ">=4.0,<5"
djangorestframework = "~=3.13.1"
gunicorn = "~=19.9.0"
psycopg2-binary = "~=2.8.2"
python-dotenv = "~=0.10.1"
requests = "~=2.21.0"
urllib3 = ">=1.24.2"
whitenoise = "~=4.1.2"

[dev-packages]
autopep8 = "*"
django-debug-toolbar = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[scripts]
format = "autopep8 --in-place --recursive ."
kg = "python -c 'from django.core.management import utils; print(utils.get_random_secret_key())'"
lint = "flake8 ."
pm = "python manage.py"
test = "python manage.py test --no-input"
