[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Django = ">=2.0.10,<2.3"
djangorestframework = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-dotenv = "*"
requests = "*"
urllib3 = ">=1.24.2"
whitenoise = "*"

[dev-packages]
autopep8 = "*"
django-debug-toolbar = "*"
flake8 = "*"

[requires]
python_version = "3.6"

[scripts]
format = "autopep8 --in-place --recursive ."
kg = "python -c 'from django.core.management import utils; print(utils.get_random_secret_key())'"
lint = "flake8 ."
pm = "python manage.py"
test = "python manage.py test --no-input"
