@import './module/_variables';

@mixin sp() {
    @media screen and (max-width: ($breakpoint)) {
        @content;
    }
}

@mixin pc() {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}

/* -------------------------------------------
   共通レイアウト
 ------------------------------------------- */
.dialog-content-body {
    padding: 10px;
}

.container {
    .content {
        opacity: 1.0;
        visibility: visible;
        transition-duration: .5s;
        transition-property: opacity, visibility;
        transition-timing-function: ease-in;

        &-inner {
            height: 100%;
            margin: 0 -0.8rem;
            overflow-y: auto;
        }
    }
}

.field-validation-error {
    color: red;
    font-size: 14px;
}

.field-validation-valid {
    font-size: 14px;
}

.input-validation-error {
    background-color: #ffddff;
}

.login {
    max-width: 300px;
    margin: 0.5rem auto;
    label {
        width: 30%;
        text-align: right;
        padding-right: .3em;
    }
}

.buttonArea {
    height: 60px;
    position: relative;
    margin-right: 0px;
}

.buttonArea section {
    position: absolute;
    bottom: 0px;
    right: 15px;
}

.form-control[readonly=true] {
    background-color: #dddddd;
}

.menu-detail {
    margin: .5em 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    label {
        margin: auto 1em auto .5em;
    }
    .button-wrap {
        position: absolute;
        top: 0;
        right: .5em;
    }

    &-other {
        @include sp() {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        display: flex;
        width: 100%;
        .menu-items {
            @include sp() {
                width: 100%;
            }
            width: 50%;
            margin: 5px 3px;
            ul {
                list-style: none;
                margin: .5em;
                padding: 0;
                li {
                    display: flex;
                    align-items: center;
                    span {
                        width: 30px;
                        text-align: right;
                    }
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
}

%button {
    color: $c_white;
    border: none;
}

.container button {
    @extend %button;
    &:enabled:hover {
        background-color: #666;
    }
    background-color: #999;
}

button.btn-add {
    &:enabled:hover {
        background-color: #118923;
    }
    background-color: #20ab32;
}

button.btn-delete {
    &:enabled:hover {
        background-color: #ae2345;
    }
    background-color: #ff3216;
}

.footer-button {
    display: flex;
    justify-content: center;
    button {
        margin: 0 .2em 1.5em;
    }
}

.search-results {
    .name {
        width: 40%;
    }
    .type {
        width: 20%;
    }
    .kcal {
        width: 10%;
    }
    .count {
        width: 10%;
    }
    .detail-link {
        display: flex;
        width: 20%;
        justify-content: center;
        align-items: center;

        .button {
            width: 80px;
            margin: 0 5px;
        }
    }
}

.search-cuisine {
    height: 100%;
}