<div class="dialog" [class.hide]="!isShow()">
    <div class="dialog-content">
        <div class="dialog-content-header" *ngIf="dialog.title">
            <div class="dialog-content-title" [innerText]="dialog.title"></div>
        </div>
        <div class="dialog-content-body">
            <ul class="dialog-content-body-text" [class.field-validation-error]="dialog.error">
                <li *ngFor="let message of dialog.messages" [innerText]="message"></li>
            </ul>
        </div>
        <div class="dialog-content-footer">
            <button (click)="dialog.close()">閉じる</button>
        </div>
    </div>
</div>
