<section class="login">
    <form method="post" (ngSubmit)="login()">
        <div class="row">
            <label>ID</label>
            <input type="text" name="account" [(ngModel)]="account" maxlength="20" required>
        </div>
        <div class="row">
            <label>パスワード</label>
            <input type="password" name="password" [(ngModel)]="password" maxlength="40" required>
        </div>
        <div class="row">
            <button type="submit">ログイン</button>
            <button type="reset">クリア</button>
        </div>
    </form>
</section>
