@use "sass:color";

@mixin sp() {
  @media screen and (max-width: ($breakpoint)) {
    @content;
  }
}

@mixin pc() {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin background() {
  background: linear-gradient(to bottom right, #727883, #c7d3e6);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@mixin button($color) {
  background-color: #{$color};
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:enabled {
    cursor: pointer;
  }

  &:enabled:hover {
    color: $c-white;
    background-color: color.adjust($color, $lightness: -20%);
  }

  &:disabled {
    color: color.adjust($c-white, $lightness: -20%);
    background-color: color.adjust($color, $lightness: -35%);
  }
}

@mixin active-button($active) {
  &:enabled:hover {
    background-color: color.adjust($active, $lightness: -15%);
  }

  background-color: #{$active};
}
