$breakpoint: 760px;

$c_white: #fff;
$c_black: #000;
$c_red: #f00;
$c_blue: #00f;
$c_green: #080;
$c_pink: #f0f;
$c_yellow: #ff0;
$c_yellowgreen: #0f0;
$c_gray: #666;

$h_header: 3.5rem;
$h_footer: 3.5rem;

$h_table-header: 3.2rem;
