$breakpoint: 760px;
$c-white: #fff;
$c-black: #000;
$c-red: #f00;
$c-blue: #00f;
$c-green: #080;
$c-pink: #f0f;
$c-yellow: #ff0;
$c-yellowgreen: #0f0;
$c-gray: #666;
$h-header: 3.5rem;
$h-footer: 3.5rem;
$h-table-header: 3.2rem;
