{% extends '_partial/base.html' %}
{% block content %}
<form method="post" action="save">
    <div class="menu-detail">
        <label>名前：</label>
        <input type="text" value="{{ cuisine.name }}">
        <label>種類：</label>
        <select name="classification" value="{{ cuisine.classification }}">
            {% for k, v in classification %}
            <option value="{{k}}"{% if v == cuisine.classification %} selected{% endif %}>{{v}}</option>
            {% endfor %}
        </select>
        <label>Kcal：</label>
        <input type="text" value="{{ cuisine.kcal }}">
        <label>種類：</label>
        <input type="text" value="{{ cuisine.create_number_of_times }}">
        <div class="button-wrap">
            <button type="submit" name="Regist" class="btn btn-default">
                <span class="glyphicon glyphicon-floppy-save">{% if cuisine.id %}更新{% else %}登録{% endif%}</span>
            </button>
            <button type="button" name="SendMail" class="btn btn-default">
                <span class="glyphicon glyphicon-envelope">メール送信</span>
            </button>
        </div>
    </div>
    <div class="menu-detail-other">
        <div class="menu-cooking">
            <div class="center">
                <button type="button" class="btn-add" v-on:click="addCookingRow();">追加</button>
                <button type="button" class="btn-delete" v-on:click="removeCookingRow();">削除</button>
            </div>
            <ul class="cookings">
                {% for instruction in cuisine.instructions_set %}
                    <li>
                        <span class="cooking-order">{{ instruction.sort_order }}：</span>
                        <input type="text" value="{{ instruction.description }}" class="cooking-description">
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="menu-quantity">
            <div class="center">
                <button type="button" class="btn-add" v-on:click="addQuantityRow();">追加</button>
                <button type="button" class="btn-delete" v-on:click="removeQuantityRow();">削除</button>
            </div>
            <ul class="quantities">
                {% for quantity in cuisine.quantities_set %}
                    <li>
                        <input type="text" value="{{ quantity.foodstuff.name }}" class="">
                        <input type="text" value="{{ quantity.detail }}" class="">
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="footer-button">
        <button type="button" v-on:click="toSearch('cuisine')">検索画面へ</a>
        <button type="button" v-on:click="toMenu()">メニューへ</a>
    </div>
</form>
{% endblock %}
