@charset "UTF-8";
.field-validation-error {
    color: red;
    font-size: 14px;
}

.field-validation-valid {
    font-size: 14px;
}

.input-validation-error {
    background-color: #ffddff;
}

.dialog {
    font-size: 14px;
}

.login {
    max-width: 300px;
    width: 20%;
    margin: 0.5rem auto;
    label {
        width: 30%;
        text-align: right;
        padding-right: .3em;
    }
}

.buttonArea {
    height: 60px;
    position: relative;
    margin-right: 0px;
}

.buttonArea section {
    position: absolute;
    bottom: 0px;
    right: 15px;
}

.form-control[readonly=true] {
    background-color: #dddddd;
}

.menu-detail {
    margin: .5em 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .button-wrap {
        position: absolute;
        right: .5em;
    }
}

.menu-detail-other {
    display: flex;
}

.footer-button {
    display: flex;
    justify-content: center;
    button {
        margin: 0 .2em 1.5em;
    }
}
