{% extends 'recipe/_partial/base.html' %} {% block content %}
<section class="login">
    <form class="loginForm" action="/recipe/login/" method="post">
        {% csrf_token %}
        <section class="row">
            <label>ID：</label>
            <input type="text" id="account">
        </section>
        <section class="row">
            <label>パスワード：</label>
            <input type="password" id="password">
        </section>
        <section class="row center">
            <button type="submit" id="login">ログイン</button>
            <button type="reset">クリア</button>
            <button type="button" id="top" v-on:click="toTop()">トップへ</button>
        </section>
    </form>
</section>
{% endblock %}