{% extends 'recipe/_partial/base.html' %}
{% block content %}
<section>
    <form method="post" action="{% url 'search_cuisine' %}">
        {% csrf_token %}
        <section class="form-group row">
            <section class="col-md-6">
                <label>名前：</label>
                {{ form.name }}
                {{ form.name.errors }}
            </section>
            <section class="col-md-2">
                <label>分類：</label>
                {{ form.classification }}
                {{ form.classification.errors }}
            </section>
            <section class="col-md-3">
                <label>カロリー：</label>
                {{ form.ingestion_kcal }}
                {{ form.ingestion_kcal.errors }}
            </section>
            <section class="col-md-1 buttonArea">
                <section>
                    <button type="submit" class="btn btn-deault">
                        <span class="glyphicon glyphicon-search">検索</span>
                    </button>
                </section>
            </section>
        </section>
    </form>
    <table class="table table-hover table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <td>メニュー</td>
                <td>分類</td>
                <td>Kcal</td>
                <td>作成回数</td>
                <td>詳細</td>
            </tr>
        </thead>
        <tbody>
            {% for cuisine in cuisines %}
            <tr>
                <td>{{ cuisine.name }}</td>
                <td>{{ cuisine.classification }}</td>
                <td>{{ cuisine.kcal }}Kcal</td>
                <td>{{ cuisine.create_number_of_times }}回</td>
                <td>
                    <a href="{% url 'edit_cuisine' id=cuisine.id %}">詳細を見る</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <section class="center">
        @TempData["result"]
    </section>
</section>
{% endblock %}