<li class="search-row recipe-row">
    <div class="recipe-row-box wide">
        <label>名前：</label>
        <input type="text" name="name" class="name" ([ngModel])="name" (change)="changeValue($event)">
    </div>
    <div class="recipe-row-box">
        <label>分類：</label>
        <select name="classification" ([ngModel])="classification" (change)="changeValue($event)" [ngModel]="classification">
            <option *ngFor="let type of types" [value]="type" [innerText]="type"></option>
        </select>
    </div>
    <div class="recipe-row-box">
        <label>カロリー：</label>
        <input type="number" name="kcal" ([ngModel])="kcal" (change)="changeValue($event)">以下
    </div>
    <div class="recipe-row-box button-wrap">
        <button type="button" (click)="toAdd()">新規追加</button>
    </div>
</li>
